Source: eos-metrics
Priority: standard
Maintainer: Philip Chimento <philip@endlessm.com>
Build-Depends: autotools-dev,
               debhelper (>= 8.0.0),
               gobject-introspection,
               gtk-doc-tools (>= 1.18),
               libgirepository1.0-dev,
               libglib2.0-dev (>= 2.38),
               libjson-glib-dev (>= 0.16),
               libsoup2.4-dev (>= 2.42),
               pkg-config,
               python-dbusmock,
               uuid-dev,
               yelp-tools,
               yelp-xsl
Standards-Version: 3.9.4
Section: non-free/libs
Homepage: http://www.endlessm.com

Package: eos-metrics-0-dev
Section: non-free/libdevel
Architecture: any
Depends: libeosmetrics-0-0 (= ${binary:Version}),
         libjson-glib-dev (>= 0.16),
         libsoup2.4-dev (>= 2.42),
         uuid-dev,
         ${misc:Depends}
Description: Files needed for developing using the EndlessOS Metrics Kit
 Install this package if you are compiling C programs that use the EndlessOS
 Metrics Kit.

Package: libeosmetrics-0-0
Section: non-free/libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: EndlessOS Metrics Kit
 Library for recording and sending metrics data in EndlessOS.

Package: eos-metrics-0-doc
Section: non-free/doc
Architecture: all
Depends: ${misc:Depends}
Suggests: devhelp
Description: EndlessOS Metrics Kit API documentation
 API documentation for the EndlessOS Metrics Kit. Install this if you want to
 access the API documentation locally, either in your browser or in the Devhelp
 program.

Package: gir1.2-eosmetrics-0
Section: non-free/introspection
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends}
Description: EndlessOS Metrics Kit introspection files
 Introspection data for the EndlessOS Metrics Kit. Install this if you want to
 use the GObject introspection bindings for the EndlessOS Metrics Kit from a
 language such as Javascript.

Package: eos-metrics-tools
Section: non-free/libdevel
Architecture: all
Depends: ${misc:Depends},
         gir1.2-eosmetrics-0,
         gir1.2-glib-2.0,
         gjs
Description: EndlessOS Metrics Kit tools
 Scripts that go along with the EndlessOS Metrics Kit.
