Source: eos-event-recorder-daemon
Priority: standard
Maintainer: Kurt von Laven <kurt@endlessm.com>
Build-Depends: autotools-dev,
               debhelper (>= 8.0.0),
               dh-systemd,
               eos-metrics-0-dev,
               libglib2.0-dev (>= 2.38),
               libpolkit-gobject-1-dev,
               libsoup2.4-dev (>= 2.42),
               pkg-config,
               python-dbusmock,
               systemd,
               uuid-dev
Standards-Version: 3.9.4
Section: non-free/libs
Homepage: http://www.endlessm.com

Package: eos-event-recorder-daemon
Section: non-free/net
Architecture: any
Breaks: eos-metrics-event-recorder
Replaces: eos-metrics-event-recorder
Provides: eos-metrics-event-recorder
Depends: libeosmetrics-0-0 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: EndlessOS Event Recorder Daemon
 Daemon for aggregating and recording metrics data in EndlessOS.
