<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>Endless Metrics</vendor>
  <vendor_url>https://endlessm.com/</vendor_url>

  <action id="com.endlessm.Metrics.SetEnabled">
    <description>Enable or disable the metrics system</description>
    <annotate key="org.freedesktop.policykit.owner" value="unix-user:metrics unix-group:metrics">
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

</policyconfig>
