<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <!--
  Copyright 2014, 2015 Endless Mobile, Inc.

  This file is part of eos-event-recorder-daemon.

  eos-event-recorder-daemon is free software: you can redistribute it and/or
  modify it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or (at your
  option) any later version.

  eos-event-recorder-daemon is distributed in the hope that it will be
  useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
  Public License for more details.

  You should have received a copy of the GNU General Public License
  along with eos-event-recorder-daemon.  If not, see
  <http://www.gnu.org/licenses/>.
  -->

  <vendor>Endless Metrics</vendor>
  <vendor_url>https://endlessm.com/</vendor_url>

  <action id="com.endlessm.Metrics.SetEnabled">
    <description>Enable or disable the metrics system</description>
    <annotate key="org.freedesktop.policykit.owner">unix-user:metrics unix-group:metrics</annotate>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="com.endlessm.Metrics.ResetTrackingId">
    <description>Reset the tracking ID used by the metrics system</description>
    <annotate key="org.freedesktop.policykit.owner">unix-user:metrics unix-group:metrics</annotate>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="com.endlessm.Metrics.WriteLocation">
    <description>Write file describing Solutions deployment location</description>
    <message>Authentication is required to set up metrics</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/gnome-initial-setup/eos-write-location</annotate>
  </action>

</policyconfig>
