/Makefile
/Makefile.in
/eosmetrics-decl-list.txt
/eosmetrics-decl.txt
/eosmetrics-undeclared.txt
/eosmetrics-undocumented.txt
/eosmetrics-unused.txt
/eosmetrics.args
/eosmetrics.hierarchy
/eosmetrics.interfaces
/eosmetrics.prerequisites
/eosmetrics.signals
/eosmetrics.types
/html
/so_locations
/tags
/version.xml
/xml
/*.bak
